/*
Name: Rohan Mallu
Date Created: November 13th 2024
File: index.html
GUI Assignment: Using the jQuery Plugin/UI with Your Dynamic Table
Description: CSS file for HW4 Part 2. Styling is implemented here.
*/

/*
    Resources:
    Fixed headers and columns (for first column of the table, header row of the table, tbody, and empty corner of the table): 
    https://wpdatatables.com/html-table-with-fixed-header-and-scrollable-body/
    z-index (for first column of the table, header row of the table, and empty corner of the table): 
    https://developer.mozilla.org/en-US/docs/Web/CSS/z-index 
    :first-child method (for first column of the table): https://www.w3schools.com/cssref/sel_firstchild.php
    :nth-child method (for td elements): https://www.w3schools.com/cssref/sel_nth-child.php 
    How to line-break from css, without using <br />? (for formatting error messages): https://stackoverflow.com/questions/2703601/how-to-line-break-from-css-without-using-br 

*/

body {
    background-color: white;
}

h1 {
    text-align: center;
    color:brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;

}

/* Formatting for p tag with id "instructions" */
#instructions {
    text-align: center;
    color: black;
    text-decoration: underline;
}

/* Formatting title of the page */
label {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* CSS for the form */
form {
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 50px;
    border-style:double;
    background-color:blanchedalmond;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}


input {
    max-width: 50%;
}

/* Center labels and input fields */
.inputNum {
    text-align: center;
    padding: 10px;
}

/* Center the button */
.buttonFormat {
    text-align: center;
    padding: 10px;
}

/* Center the table after it is generated */
table {
    margin-left: auto;
    margin-right: auto;
}

/* Center the error message when checkBounds() return an error message. */
.tableError {
    text-align: center;
}


p {
    color: red;
    font-weight: bold;
}

/* make the table body scrollable */
tbody {
    overflow-y: auto;
    overflow-x: auto;
}

/* Add colors for header elements. Make sure the header row is fixed on the page during scrolling */
th {
    color: orange;
    background-color: grey;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Even elements are colored pink */
td:nth-child(2n+1) {
    text-align: center;
    background-color: pink;
    padding: 5px;
}

/* Odd elements are colored blue. */
td:nth-child(2n) {
    text-align: center;
    background-color: lightblue;
    padding: 5px;
}

/* Top left corner is invisible, even during scrolling */
#empty-box {
    background-color: white;
    border: 0px;
    z-index: 3;
}

/* center table container, for larger ranges, table container is made scrollable */
#table-container {
    height: 500px;
    overflow-y: auto;
    max-width:50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* first column of the table is fixed on the page during scrolling */
td:first-child, th:first-child {
    color: orange;
    background-color: grey;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    position: sticky;
    left: 0;
    z-index: 1;
}

/* color input fields salmon if there is an error */
input.error {
    color: black;
    background-color: salmon;
}

/* make error text standout and fit onto the next line */
.error {
    font-size: 12px;
    font-weight: bold;
    color: red;
    white-space: pre;
}

/* centering and formatting each of the four sliders */
#minColSlider {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
    
}

#maxColSlider {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
    
}

#minRowSlider {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
}

#maxRowSlider {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
}
